asgiref==3.8.1
dj-database-url==3.0.0
Django==5.1.7
django-phonenumber-field==8.0.0
gunicorn==23.0.0
mysql==0.0.3
mysql-connector==2.2.9
mysqlclient==2.2.7
packaging==25.0
phonenumbers==9.0.2
pillow==11.1.0
psycopg2-binary==2.9.10
PyMySQL==1.1.1
python-dotenv==1.1.0
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
whitenoise==6.9.0
